form {
    border: 1px solid black;
    padding: 20px;

}
forma1 {
    border: 1px solid black;
    padding: 20px;
    margin-top: 150px;
}
.color-background-head {
    background-color: greenyellow;
}
#colorp {
    background-color: white;
}