.form_style {
    padding: 20px;
    margin-top: 150px;
    background-color: #9acfea;
}
.color-background-head {
    background-color: greenyellow;
}
#colorp {
    background-color: white;
}
body {
    background-image: url(http://webbasic/resource/images/image115-22.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.color_style {
    background-color: #429ed2;
}
.form_profile {
    margin: 20px auto;
}